<!---extand basic django-->
{% extends 'ar/base.html' %}
<!---import static django-->
{% load static %}
<!---block django-->
{% block body %}

<style>

  .lectureitem{
    position: relative;

  }

  .lecturelock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60% !important; /* Adjust the size as needed */
    height: auto;
    opacity: 0.8; /* You can adjust the opacity as needed */
}

</style>



  <!-- ================> Page header start here <================== -->
  <section class="page-header bg--cover" style="background-image:url(assets/images/header/1.png)">
    <div class="container" style="display:flex;justify-content:space-between">
      <div class="page-header__shape">
        <span class="page-header__shape-item page-header__shape-item--1"><img src="{% static 'assets/images/logo/logo.png' %}"
            alt="shape-icon"></span>
      </div>
      
      <div class="page-header__content" data-aos="fade-left" data-aos-duration="1000">
        <h2> محاضرات تعليمية</h2>
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item "><a href="{% url 'home:home_ar' %}">الصفحة الرئيسية</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </section>
  <!-- ================> Page header end here <================== -->




  <!-- ===============>> Blogs section start here <<================= -->
  <div class="blog padding-top padding-bottom section-bg-color">
    <div class="container">
      <div class="blog__wrapper">
        <div class="row g-4">
         <div class="col-12">
          <!--search form-->
            <div class="search d-flex mb-5">
              <input type="text" class="form-control" placeholder="البحث بواسطة عنوان المحاضرة"
                id="searchinput">
              <button class="btn trk-btn--primary" style="color: white;" id="searchbtn"><i
                  class="fa fa-search" aria-hidden="true"></i></button>
            </div>       
          </div>
       
          {% if lectures %}
          {% for lecture in lectures%}
          <div class="blog__item1 col-sm-12 col-md-6 col-lg-4">
            <div class="blog__item" data-aos="fade-up" data-aos-duration="1200">
              <div class="blog__item-inner blog__item-inner--style2">
                <div class="blog__thumb lectureitem">

                   <!---if lecture.isview or lecture is the first-->
                   {% if lecture.is_viewed or forloop.first %}
                   <a href="{% url 'courses:course_details_ar' lecture.id %}"><img src="{{ lecture.image.url }}" alt="blog Images"></a>
                   {% else %}
                      
                   <img src="{{ lecture.image.url }}" alt="blog Images">
                   <img src="{% static 'assets/images/lock2.png' %}" alt="blog Images" class="lecturelock">
                   {% endif %}


                </div>

                <div class="blog__content">
                
                  {% if lecture.is_viewed or forloop.first %}
                  <h3 class="10 style2" style="margin-top: 15px;"> <a href="{% url 'courses:course_details_ar' lecture.id %}">{{ lecture.title }}</a> </h3>
                  {% else %}
                  <h3 class="10 style2" style="margin-top: 15px;" title="يجب عليك مشاهدة الفيدوهات السابقة اولا"> {{ lecture.title }} </h3>
                  {% endif %} 
                  
                  <div class="d-flex" style="justify-content: space-around;">
                    <p class="mb-15"><span style="color:#00d094">المدة : </span>{{ lecture.duration }}</p>
                    <p class="mb-15"><span style="color:#00d094">رقم المحاضرة: </span>{{ lecture.number }}</p>
                  </div>
                  
                  
                  

          
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h1>لا يوجد محاضرات</h1>
          {% endif %}

      
        
        </div>

      </div>
    </div>
  </div>
  <!-- ===============>> Blogs section start here <<================= -->





<!--end block django-->
{% endblock %}

<!---import js-->
{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchinput');
    const searchButton = document.getElementById('searchbtn');
    const blogItems = document.querySelectorAll('.blog__item1');

    searchButton.addEventListener('click', function() {
      const searchTerm = searchInput.value.toLowerCase();

      blogItems.forEach(function(item) {
        const title = item.querySelector('.style2 a').textContent.toLowerCase();

        if (title.includes(searchTerm)) {
          item.style.display = 'block';
        } else {
          item.style.display = 'none';
        }
      });
    });
  });
</script>



{% endblock %}
